#login-form{
    width: 100%;
    text-align: left;
}

#login-form label{
display: block;
font-weight: bold;
font-size: 24px;
color: #1A4A66;
margin-bottom: 7px;
}

#login-form input{
    width: 99%;
    padding: 10px 20px;
    border: 2px solid #1A4A66;
    border-radius: 10px;
    background: transparent;
    font-size: 1.2rem;
    margin-bottom: 31px;
}

#login-button{
    position: relative;
    left: 50%;
    background: #1A4A66;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transform: translateX(-50%);
    width: 214px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
height: 56px;
cursor: pointer;
}
#login-button:hover{
    opacity: 0.9;
}
.error{
    border-color: #961F1F;
}